body {
    font-size: 20px;
	font-family: "Arial Black", Gadget, sans-serif;
	color: white;
    background-color: black;
    background-image: url('background_01.jpg');
    background-repeat: repeat;
	background-attachment: fixed;
	background-position:center top;
	width: 100%;
	text-align: center;
	overflow: hidden;
}

#game {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

#tabBar {
	position: relative;
	width: 880px;
	height: 150px;
	margin: 0px auto;
}

#planet {
	width: 100%;
	height: 1000px;
	position: relative;
	overflow: hidden;
	z-index: 1;
}

#tabContent {
	position: relative;
	margin: 0px auto;
	bottom: 1000px;
	width: 1000px;
	height: 1000px;
	overflow: hidden;
	z-index: 1000;
}

#tabContent div {
	display: inline-block;
	overflow: hidden;
}

#navTab {
	position: absolute;
	top: 100px;
	left: 20%;
	width: 60%;
	height: 600px;
	background-image: url('small_tile.png');
	background-repeat: repeat;
}

#cargoTab {
	position: absolute;
	top: 100px;
	left: 20%;
	width: 60%;
	height: 600px;
	background-image: url('small_tile.png');
	background-repeat: repeat;
}

#shipTab {
	position: absolute;
	top: 100px;
	left: 20%;
	width: 60%;
	height: 600px;
	background-image: url('small_tile.png');
	background-repeat: repeat;
}

#event {
	position: relative;
}

img.hoverPop {
	cursor: pointer;
	z-index: 1000;
}

.tabTitle {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	font-size: 40px;
	text-align: center;
}

.tabInfo {
	position: absolute;
	top: 60px;
	left: 5%;
	width: 90%;
	text-align: left;
}

.hidTab{
    display: none;
}

.visTab {
    display: inline;
}