body {
    font-size: 20px;
	font-family: "Arial Black", Gadget, sans-serif;
	color: white;
    background-color: black;
    background-image: url('background_01.jpg');
    background-repeat: repeat;
	background-attachment: fixed;
	background-position:center top;
	width: 100%;
	text-align: center;
}

img {
	border: 0;
}

#game {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

#tabBar {
	position: relative;
	width: 880px;
	height: 150px;
	margin: 0px auto;
}

#planet {
	width: 100%;
	height: 1000px;
	position: relative;
	overflow: hidden;
	z-index: 1;
}

#tabContent {
	position: relative;
	margin: 0px auto;
	bottom: 1000px;
	width: 1000px;
	height: 1000px;
	overflow: hidden;
	z-index: 1000;
}

#tabContent div {
	display: inline-block;
}

#navTab {
	position: absolute;
	top: 0px;
	left: 20%;
	width: 60%;
	height: 700px;
	background-image: url('small_tile.png');
	background-repeat: repeat;
}

#cargoTab {
	position: absolute;
	top: 0px;
	left: 20%;
	width: 60%;
	height: 700px;
	background-image: url('small_tile.png');
	background-repeat: repeat;
}

#cargoStatus {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline;
    width: 33%;
    text-align: center;
    font-size: 24px;
}

#cargoStatus img {
    position: relative;
    widht: 64px;
    height: 64px;
}

#fuelStatus {
    position: absolute;
    top: 0px;
    left: 33%;
    display: inline;
    width: 33%;
    text-align: center;
    font-size: 24px;
}

#fuelStatus img{
    position: relative;
    widht: 64px;
    height: 64px;
}

#ammoStatus {
    position: absolute;
    top: 0px;
    left: 66%;
    display: inline;
    width: 33%;
    text-align: center;
    font-size: 24px;
}

#ammoStatus img{
    position: relative;
    widht: 64px;
    height: 64px;
}

#cargoStore {
    position: relative;
    top: 180px;
    text-align: left;
    width: 100%;
}

#cargoStore img {
    position: relative;
    left: 30px;
    height: 64px;
    width: 64px;
}

.sell {
    position: absolute;
    left: 250px;
    bottom: 23px;
    width: 100px;
    text-align: center;
    font-size: 24px;
}

.buy {
    position: absolute;
    left: 425px;
    bottom: 23px;
    width: 100px;
    text-align: center;
    font-size: 24px;
}

#aaEntry {
    position: relative;
    width: 100%;
}

#aaEntry #currentAA {
    position: relative;
    left: 30px;
    bottom: 25px;
    font-size: 24px;
}

#pmEntry {
    position: relative;
    width: 100%;
}

#pmEntry #currentPM {
    position: relative;
    left: 30px;
    bottom: 25px;
    font-size: 24px;
}

#ffEntry {
    position: relative;
    width: 100%;
}

#ffEntry #currentFF {
    position: relative;
    left: 30px;
    bottom: 25px;
    font-size: 24px;
}

#rwEntry {
    position: relative;
    width: 100%;
}

#rwEntry #currentRW {
    position: relative;
    left: 30px;
    bottom: 25px;
    font-size: 24px;
}

#fuelBuy {
    position: relative;
    width: 100%;
}

#ammoBuy {
    position: relative;
    width: 100%;
}

#shipTab {
	position: absolute;
	top: 0px;
	left: 20%;
	width: 60%;
	height: 700px;
	background-image: url('small_tile.png');
	background-repeat: repeat;
}

#event {
	position: relative;
}

img.hoverPop {
	cursor: pointer;
	z-index: 1000;
}

.tabTitle {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	font-size: 40px;
	text-align: center;
}

.tabInfo {
	position: absolute;
	top: 60px;
	left: 5%;
	width: 90%;
	text-align: left;
}

.hidTab{
    display: none;
}

.visTab {
    display: inline;
}